<table class="table table-striped">
  <thead>
  <tr>
    <th>
      <%= sortable 'party', 'Name' %>
    </th>
    <th>
      <%= sortable 'attendees', 'Number of Attendees' %>
    </th>
    <th>
      <%= sortable 'accept', 'Accept' %>
    </th>
    <th>
      Comment
    </th>
    <th>
      Email
    </th>
    <th>
      <%= sortable 'created_at', 'Date' %>
    </th>
    <th>
      Action
    </th>
  </tr>
  </thead>
  <tbody>
  <% obj.each do |r| %>
    <tr>
      <td>
        <%= r.party %>
      </td>
      <td>
        <%= r.attendees %>
      </td>
      <td>
        <%= human_boolean(r.accept) %>
      </td>
      <td>
        <%= simple_format(r.comment) %>
      </td>
      <td>
        <%= r.email %>
      </td>
      <td>
        <%= r.created_at.strftime("%b %d %Y") %>
      </td>
      <td>
        <%= link_to 'Delete', r, method: :delete, class: 'btn btn-danger btn-xs',
                    data: { confirm: 'Are you sure you want to delete this RSVP?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>