<div class="center-box">
  <!--<p class="text-center">Kindly respond by May 16<sup>th</sup>, 2016</p>-->

  <%= render 'shared/errors', obj: @rsvp %>

  <%= form_for(@rsvp, :html => { class: 'form-horizontal', role: 'form' }) do |r| %>

    <div class="form-group">
      <div class="control-label pull-left">
        <%= r.label :party, 'Name' %> <span class="required">*</span>
      </div>
      <div class="control-label">
        <%= r.text_field :party, class: 'form-control', placeholder: 'Individual or family name', autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label pull-left">
        <%= r.label :attendees, 'Number of attendees' %> <span class="required">*</span>
      </div>
      <div class="control-label">
        <%= r.number_field :attendees, class: 'form-control', placeholder: 'Enter 0 if not attending' %>
      </div>
    </div>

    <div class="form-group">
      <%= r.radio_button :accept, true, :checked => true %>
      <%= r.label :accept, 'Accepts with Pleasure' %>
      &nbsp;&nbsp;&nbsp;
      <%= r.radio_button :accept, false, :checked => false %>
      <%= r.label :accept, 'Declines with Regrets' %>
    </div>

    <div class="form-group">
      <div class="control-label pull-left">
        <%= r.label :comment %>
      </div>
      <div class="control-label">
        <%= r.text_area :comment, rows: 10, class: 'form-control', placeholder: 'Leave us a comment' %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label pull-left">
        <label for="rsvp_code">Enter code found in invitation</label> <span class="required">*</span>
      </div>
      <div class="control-label">
        <%= text_field_tag 'rsvp_code', nil, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <div class='control-label pull-left'>
        <%= r.submit 'RSVP', class: 'btn btn-primary btn-lg' %>
      </div>
    </div>

  <% end %>

  <p class="required"><small>* Required fields</small></p>
</div>